@import "../../../variables/variables.scss";

.gloss-attr-wrapper {
  //parent is relative - Glossary;
  position: absolute;
  width: 350px;
  height: 400px;
  top: 110px;
  left: -131px;
  background: #ffffff;
  box-shadow: 0px 12px 24px #e5e5e5;
  border-radius: 5px;
}

.gloss-prev-btn,
.gloss-next-btn {
  position: absolute;
  width: 18px;
  height: 18px;
  img {
    width: 100%;
    height: 100%;
  }
  cursor: pointer;
}
.gloss-next-btn {
  right: 17px;
  top: 5px;
}
.gloss-prev-btn {
  img {
    transform: rotate(180deg);
  }
  right: 17px;
  top: 30px;
}

.gloss-disabled {
  opacity: 0.5;
}

.gloss-attr-list {
  width: 100%;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
}

.gloss-list {
  width: 80%;
  height: 100%;
  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 60%;
    float: right;
    li {
      list-style: none;
      font-family: $font-aloc;
      font-size: 14px;
      margin-top: 6px;
      color: $color-dark-grey;
      cursor: pointer;
      @include hover {
        &:hover {
          color: rgba(0, 0, 0, 0.788);
          opacity: 1;
        }
      }
    }
    li:hover + .gloss-list-item-line {
      display: block;
    }
  }
}
.gloss-list-item {
  position: relative;
}

.gloss-list-item-line {
  display: none;
  position: absolute;
  width: 90px;
  height: 1.5px;
  background-color: #22bf95;
  left: -112px;
  top: 50%;
  border-radius: 2px;
}
.gloss-item-selected {
  li {
    color: black !important;
  }
  div {
    display: block;
    height: 2px;
    background-color: #22bf95;
  }
}

@include media(750px)
{
  .gloss-attr-wrapper{
    height: 200px;
    width: 50%;
    top: 30%;
    left: 50%; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transform: translate(-50%, -50%);
  }
  .gloss-list-item-line{
    width: 30px;
    left: -40px;
  }
  .gloss-list{
    ul{
      width: 75%;
      li{
        margin-top: 17px;
        font-size: 12px;
      }
    }
  }
}

@include media(650px)
{
  .gloss-attr-wrapper{
    width: 70%;
  }
}

@include media(500px) {
  .gloss-attr-wrapper{
    width: 85%;
    top: 36%;
  }
}
