@import '../../../variables/variables.scss';

.tips-section{
  width: 100%;
  border-top: 2px solid $color-primary-grey;
  margin-top: 80px;
  @include headerTemplate;
}

.tips-list{
  margin-top: 70px;
  width: 100%;
  border-bottom: 1px solid #22BF95;
}

