@import "../../variables/variables.scss";

.choosen-section {
  width: 100%;
  height: 500px;
  background: rgb(44, 221, 236);
  background: linear-gradient(
    90deg,
    rgba(44, 221, 236, 1) 0%,
    rgba(0, 248, 110, 1) 100%
  );
  @include justifyCenter;
  h1 {
    font-size: 110px;
    color: white;
    @include textLayout;
    font-family: $font-actor;
  }
}

.content {
  width: 80%;
  margin: 0 auto;
  position: relative;
  min-height: 200px;
  bottom: 50px;
}

@include media(900px)
{
  .choosen-section{
    height: 350px;
    h1{
      font-size: 65px;
    }
  }
}

@include media(700px)
{
  .choosen-section{
    h1{
      font-size: 55px;
    }
  }
  .content{
    bottom: 30px;
  }
}

@include media(500px)
{
  
@include media(700px)
{
  .choosen-section{
    height: 300px;
    h1{
      font-size: 40px;
    }
  }
}
}
