@import '../../../variables/variables.scss';

.tips-description{
  margin: 40px 0px;
  width: 90%;
  height: 400px;
  @include justifyBetween;
  position: relative;
}

.tips-photo{
  height: inherit;
  width: 35%;
}

.tips-article{
  width: 52%;
  height: inherit;
  padding: 40px 0;
  box-sizing: border-box;
  p{
    font-family: $font-aloc;
    font-size: 16px;
    color: #191919;
  }
}

.tips-title{
  height: inherit;
  h3{
    margin: 0;
    font-family: $font-aloc;
    text-transform: capitalize;
    color: black;
    min-height: 80px;
    word-wrap: break-word;
  }
}

.tips-img-wrapper{
  width: 100%;
  height: 70%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.after-article{
  height: 20px;
  height: fit-content;
  position: absolute;
  bottom: 20px;
  @include justifyBetween;
  .tip-oval{
    width: 29px;
    height: 29px;
    border-radius: 100%;
    border: 1px solid #B2B2B2;
    @include justifyCenter;
    span{
      font-family: $font-actor;
      color: #B2B2B2;
    }
  }
  .tip-report{
    margin-left: 20px;
    p{
      color: #7F7F7F;
      font-size: 13px;
    }
  }
}



