@import "../../../variables/variables.scss";

.faqs-wrapper {
  margin-top: 120px;
  border-top: 2px solid $color-primary-grey;
  @include headerTemplate;
  width: 100%;
}

.faqs-list{
  margin-top: 70px;
  width: 100%;
}

