@import "../../variables/variables.scss";

.footer-location {
  height: 100%;
  border-top: 2px solid #22bf95;
  padding: 10px 0;
  box-sizing: border-box;
  @include justifyBetween;
}

.footer-loc-address,
.footer-loc-map,
.footer-loc-phone,
.footer-loc-title {
  height: inherit;
  label,
  a {
    font-family: $font-aloc;
    color: $color-dark-grey;
    letter-spacing: 1px;
    font-size: 14px;
  }
}
.footer-loc-title label {
  font-size: 20px;
}

.footer-loc-title {
  width: 30%;
}
.footer-loc-phone {
  width: 27%;
}
.footer-loc-address {
  width: 30%;
}
.footer-loc-map {
  width: 13%;
  a {
    text-decoration: none;
    color: #22bf95;
    @include hover {
      &:hover {
        color: #10926f;
        opacity: 1;
        text-decoration: underline;
      }
    }
    float: right;
  }
}

@include media(1050px) {
  .footer-location label {
    font-size: 14px;
  }
  .footer-loc-phone,
  .footer-loc-address {
    label {
      font-size: 11px;
    }
  }
}

@include media(850px) {
  .footer-loc-map {
    text-align: right;
  }
}

@include media(700px) {
  .footer-location {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }

  .footer-loc-address,
  .footer-loc-map,
  .footer-loc-phone,
  .footer-loc-title {
    margin-top: 10px;
    width: 100%;
  }
  .footer-loc-map {
    position: relative;
    a{
      position: absolute;
      left: 0;
    }
    margin-bottom: 20px;
  }
}

@include media(500px)
{
  
}
