@import '../../variables/variables.scss';


footer{
  width:100%;
  background-color: #F2F2F2;
  min-height: 400px;
  padding-top: 40px;
}

.footer-info{
  width: 80%;
  margin: 0 auto;
  height: 75%;
  @include justifyBetween;
  align-items: initial;
}
#firstFooterLink{
  margin-top: 0;
}

.footer-social{
  width: 80%;
  margin: 20px auto 0 auto;
  height: 10%;
  border-top: 2px solid $color-primary-grey;
  padding: 20px 0;
  @include justifyBetween;
}
.footer-social-icons{
  width: 26%;
  @include justifyBetween;
  .social-icon{
    cursor: pointer;
  }
}


.footer-website-title{
  font-family: $font-aloc;
  @include textLayout;
  h3{
    font-size: 30px;
  }
  span{
    font-size: 8px;
    float: right;

  }
  color: $color-dark-grey;
}
.footer-link-wrapper{
  width: 25%;
  height: 100%;
  a{
    text-decoration: none;
    font-size: 14px;
    @include hover{
      &:hover{
        color: #22BF95;
        text-decoration: underline;
      }
    }
  }
  a,p{
    font-family: $nav-font;
    @include textLayout;
    color: $color-dark-grey;  }
  p{
    margin-top: 5px;
    font-size: 20px;
  }
}
.footer-locations{
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(1,100%);
}
.footer-link{
  margin-top: 35px;
}


@include media(850px)
{
  .footer-info{
    width: 80%;
    flex-direction: column;
    align-items: initial;
  }
  .footer-link-wrapper{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-locations{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-social-icons{
    width: 35%;
  }
}

@include media(550px)
{
  .footer-social{
    flex-direction: column;
  }
  .footer-social-icons{
    width: 65%;
    margin-bottom: 20px;
  }
}

